<div class="containe">
    <ul class="d-flex">
        <li class="card" *ngFor="let employee of myEmployees">
            <div class="padding-x">
                <img src="https://th.bing.com/th/id/OIP.S171c9HYsokHyCPs9brbPwHaGP?pid=ImgDet&rs=1" class="profile-p" alt="">
                <h1 class="name">{{employee.name}} {{employee.surname}}</h1>
            </div>
            <div class="buttons">
                <button class="btn btn-success" *ngIf="isActive" (click)="changeActive($event)" value="active">Active</button>
                <button class="btn btn-danger" *ngIf="!isActive" (click)="changeActive($event)" value="Inactive">Innactive</button>
                <button class="btn btn-secondary">Detalles</button>
            </div>
        </li>
    </ul>
</div>